* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 600px;
  background-color: hsl(218, 23%, 16%);
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 310px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
}

.boxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 250px;
  width: 100%;
}

.boxWrap img {
  width: 80%;
}

.advNr {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 40px 0 20px 0;
}

.advTxt {
  text-align: center;
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  padding-bottom: 40px;
  padding: 0 15px 20px 15px;
}

.draw {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 27px;
  border: none;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid transparent;
}

.disabled {
  background-color: black;
}

.draw img {
  transition: 0.2s;
}

.draw:hover {
  background-color: hsl(150, 71%, 47%);
  border: 2px solid black;
}

.draw:active {
  transform: scale(0.9);
}
.draw:active img {
  transform: rotate(360deg);
}

.draw:disabled {
  transform: scale(1);
  background-color: rgb(95, 95, 95);
}

.draw:disabled img {
  color: white;
  transform: rotate(0);
}

.attribution {
  position: relative;
  bottom: 0;
  font-size: 11px;
  bottom: -120px;
  color: hsl(193, 38%, 86%);
}
.attribution a {
  color: hsl(150, 41%, 48%);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 375px;
  }
  .box {
    width: 100%;
  }

  .advNr {
    font-size: 12px;
  }

  .advTxt {
    font-size: 18px;
  }

  .draw {
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 100%;
    background-color: whitesmoke;
  }
  .box {
    width: 100%;
  }
  .draw {
    padding: 0;
  }
}

@media (orientation: landscape) and (max-width: 1080px) {
  .container {
    width: 80%;
  }
  .box {
    min-height: 200px;
    width: 80%;
  }
  .boxWrap {
    min-height: 100px;
    max-height: 150px;
    width: 80%;
  }

  .advNr {
    font-size: 10px;
  }
  .advTxt {
    font-size: 14px;
  }

  .boxWrap img {
    margin-top: 10px;
    transform: scale(0.7);
    width: 100%;
  }

  .draw {
    bottom: -20px;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  .attribution {
    top: 50px;
  }
}

@media (orientation: landscape) and (max-width: 740px) {
  body {
    background-color: hsl(217, 19%, 24%);
  }
  .container {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .boxWrap {
    min-height: 100px;
    width: 100%;
  }

  .advNr {
    font-size: 12px;
  }
  .advTxt {
    font-size: 18px;
  }

  .boxWrap img {
    margin-top: 10px;
    transform: scale(0.7);
    width: 100%;
  }

  .draw {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  .attribution {
    top: 50px;
  }
}
